*{
    font-family: Arial;
    font: Arial;
}

body{
    border: 0;
    padding: 0; 
    margin: 0;
    /* overflow-x: hidden; */
}

a{
    font-weight: bold;
    font-size: 2vh;
}
p {
    font-size: 2vh;
}

h1 {
    font-size: 4vh;
}

header {
    width: 100%;
    height: 3vh;
    background-color: #f78980;
    text-align: center;
    font-size: 1vh;
}

header a {
    display: inline-block;
    margin: 0 1vw;
    border-right: 0.2vw solid #000000;
    padding-right: 1vw;
    font-size: 2vh; /* set the font size for the links in the header */
}

header a:last-child {
    border-right: none;
}

.containerContent{
    padding-left: 1vw;
    padding-right: 1vw;
}
/* YLÄ OSIO */


.navLaatikko{
    background-color: #f78980;
    width: 25vh;
    height: 35vh;

    float: left;
    margin-top: 2vh;

    border-style: dotted;
    
    font-size: 1vh;
}

.navLaatikko ul{
    margin-left: 1vw;
}




/*  */

.keski{
    
   
}

table {
    border: 2px solid black;
    border-collapse: collapse;
    width: 10vw;
    height: 15vh;
    font-size: 1vw;
}

th,
td {
    border: 1px dotted black;
    
    text-align: center;
}



/*  */
.ala{

    font-size: 3vh;
}
/*  */
footer{
    width: 100%;
    height: 5vh;
    background-color: #f78980;
    padding-top: 1vh;
    font-size: 3vh;
    
}

.footerLinkki {

}

.nimi {
    font-weight: bolder;
    float: right;
  
}
