body{
    border: 0;
    padding: 0; 
    margin: 0;
}
header{
    width: 100%;
    height: 5vh;
    background-color: #ad0303;
}

.yla{
    height: 40vh;
    background-color: aqua;
}

.keski{
    height: 30vh;
    background-color: blueviolet;
}

.ala{
    height: 30vh;
    background-color: rgb(84, 82, 86);
    font-size: 3vh;
}

footer{
    width: 100%;
    height: 10vh;
    background-color: #ad0303;
    display: flex;
}

.nimi{
    margin-left: 65vw;
    font-weight: 1000;
}
